body,
html {
  height: 100%;
  background: rgba(15, 23, 42, 0.6);
  color: #fff;
}

.background-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.payment-header {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 5;
}

.form-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(74, 85, 104, 0.5);
  border-radius: 10px;
  z-index: 3;
}

.form-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.form-container p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  text-align: left;
  font-weight: 500;
  display: block;
}

input[type="email"] {
  width: 100%;
  padding: 5px 8px;
  color: #354055;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.payform-btn {
  width: fit-content;
  margin: 1rem auto 0 auto;
  color: #fff;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #354055;
  border: 1px solid #f5f5f5;
  transition: background 0.4s;
}

.payform-btn:hover {
  background-color: rgb(71, 87, 114);
}

.form-msg {
  height: 15px;
  color: #ff4444;
  font-size: 15px;
}

@media (max-width: 480px) {
  .form-container {
    padding: 25px;
    border-radius: none;
    border: none;;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  input,
  button {
    font-size: 0.9rem;
  }
}
