.radio-categories {
  width: 100%;
  background: #0a0a0a;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #111;
}

.radio-categories h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
  letter-spacing: 0.5px;
}

#radio-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1100px) {
  .radio-categories {
    display: none;
  }
}
